<div id="invoice-identity">

  <div id="invoice-logo">
    <img src="/assets/springbrunn.jpg" alt="Springbrunn Logo" id="springbrunnimg">
  </div>

  <div id="invoice-address">
    <%= settings.title%> <%= settings.firstname %> <%= settings.lastname %><br/>
    <%= settings.street %><br/>
    <%= settings.zip %> <%= settings.city %><br/>
    Tel. <%= settings.phonenumber %><br/>
    <%= settings.email %><br/>
  </div>

  <div style="clear:both"></div>

  <div id="invoice-customer">
    <%= patient.firstname %> <%= patient.lastname %><br/>
    <%= patient.insurance %> <%= patient.ssn %> <%= patient.birthdate.strftime("%d%m%y") %><br/>

    <% unless invoice.parent.nil? %>
      <%= invoice.parent.firstname %> <%= invoice.parent.lastname %><br/>
      <%= invoice.parent.insurance %> <%= invoice.parent.ssn %> <%= invoice.parent.birthdate.strftime("%d%m%y") %><br/>
    <% end  %>

    <%= patient.street %><br/>
    <%= patient.zip %> <%= patient.city %><br/>
  </div>
</div>


<div class="invoice-number-date">
  <div id="invoice-date">
    <%= settings.city %>, <%= invoice.date.strftime("%-d.%-m.%Y") %>
  </div>

  <div class="invoice-number">
    <strong>Wahlarzt-Honorarnote: <%= invoice.invoicenumber %></strong>
  </div>

  <div id="invoice-consultation">
      Untersuchung am <%= invoice.consultation_date.strftime("%-d.%-m.%Y") %>
  </div>

</div>
