<div id="invoice-identity">
  <textarea readonly="true" id="invoice-address">
    <%= settings.title%> <%= settings.firstname %> <%= settings.lastname %>
    <%= settings.street %>
    <%= settings.zip %> <%= settings.city %>
    Tel. <%= settings.phonenumber %>
    <%= settings.email %>
  </textarea>

  <div id="invoice-logo">
    <img src="/assets/springbrunn.jpg" alt="Springbrunn Logog" id="springbrunnimg">
  </div>

  <div style="clear:both"></div>

  <textarea readonly="true" id="invoice-customer">
    <%= patient.firstname %> <%= patient.lastname %>
    <%= patient.insurance %>
    <%= patient.street %>
    <%= patient.zip %> <%= patient.city %>
  </textarea>
</div>


<div class="invoice-number-date">
  <div class="invoice-number">
    <strong>Wahlarzt-Honorarnote: <%= invoice.invoicenumber %></strong>
  </div>

  <div class="invoice-date">
    Grafenwoerth, <%= Date.today %>
  </div>
</div>

<!-- <div class="invoice-examination-date">
     Untersuchung am
     <% if invoice.created_at %>
     <%= invoice.created_at.strftime("%-d.%-m.%Y") %>
     <% else %>
     <%= Time.now.strftime("%-d.%-m.%Y") %>
     <% end %>
     </div> -->
