<%= stylesheet_link_tag "invoice" %>
<%= stylesheet_link_tag "invoice_print", media: 'print' %>


<div class="invoice-page">
  <%= form_for([@patient, invoice]) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= hidden_field_tag 'invoice[invoicenumber]', invoice.invoicenumber %>
    <%= hidden_field_tag 'invoice[date]', invoice.date %>

    <div class="invoice-header">
      <%= render partial: 'header_input', locals: { f: f} %>
    </div>

    <div class="invoice-main">
      <%= render partial: 'input', locals: { f: f} %>
    </div>
  <% end %>
</div>
