<% content_for :head do %>
  <%= javascript_include_tag 'addentry' %>
<% end %>

<div class="container center">
  <h1>Create a new invoice</h1>
  <div class="row">
    <div class="col-md-4">
      <img src="/assets/springbrunn.jpg" alt="Springbrunn Logog" id="springbrunnimg">
    </div>
    <div class="col-md-4 col-md-offset-4 text-left">
      <%= @settings.title%> <%= @settings.firstname %> <%= @settings.lastname %><br/>
      <%= @settings.street %><br/>
      <%= @settings.zip %> <%= @settings.city %>
      <%= @settings.phonenumber %><br/>
      <%= @settings.email %><br/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-left" id="invoice_recipient">
      <%= @patient.firstname %> <%= @patient.lastname %><br/>
      <%= @patient.insurance %><br/>
      <%= @patient.street %><br/>
      <%= @patient.zip %> <%= @patient.city %>
    </div>
  </div>
  <div class="row" id="invoicenumber">
    <div class="col-md-5 text-left">
      <strong>Wahlarzt-Honorarnote: <%= @invoicenumber %></strong>
    </div>
    <div class="col-md-3 col-md-offset-2 text-right">
      Grafenwoerth, <%= Date.today %>
    </div>
  </div>
  <%= form_for(@invoice, url: patient_invoices_path(@patient)) do |f| %>

    <div class="row" id="diagnosis">
      <div class="col-md-1 text-left">
	<strong>Diagnose:</strong>
      </div>
      <div class="col-md-8">
	<% if @consultation %>
	  <input type="diagnosis" name="text" class="form-control" value="<%= @consultation.diagnosis %>"/>
	<% else %>
	  <input type="diagnosis" name="text" class="form-control"/>
	<% end %>
      </div>
    </div>

    <hr/>
    <div class="row col-md-offset-1">
      <%= hidden_field_tag 'invoicenumber', @invoicenumber %>

      <div id="entries">
	<div class="entry">
	  <div class="row">
	    <div class="col-md-6">
	      <input type="text" name="entries[]" placeholder="Text" class="form-control" id="text"/>
	    </div>
	    <div class="col-md-2">
	      <input type="text" name="fees[]" placeholder="0.00" class="form-control fees text-right" id="fee"/>
	    </div>
	    <div class="col-md-2">
	      <button type="button" class="btn btn-sm btn-success" id="addentry">Add Entry</button>
	    </div>
	  </div>
	</div>
      </div>

      <div class="row">
	<div class="col-md-8">
	  <hr/>
	</div>
      </div>
      <div class="row">
	<div class="col-md-6 text-right">
	  Sum
	</div>
	<div class="col-md-2">
	  <input type="sum" name="sum" placeholder="0.00" class="form-control text-right" id="sum"/>
	</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-2">
	<%= f.submit "Save", class: "btn btn-primary btn-block "%>
      </div>
      <div class="col-md-2">
	<%= f.submit "Save and Print", class: "btn btn-primary btn-block "%>
      </div>
      <div class="col-md-2">
	<%= f.submit "Cancel", class: "btn btn-primary btn-block "%>
      </div>
    </div>
  <% end %>
</div>
