<% content_for :head do %>
  <%= javascript_include_tag 'addentry' %>
<% end %>

<div class="container center">
  <h1>Create a new invoice</h1>
  <div class="row">
    <div class="col-md-4">
      <img src="/assets/springbrunn.jpg" alt="Springbrunn Logog" id="springbrunnimg">
    </div>
    <div class="col-md-4 col-md-offset-4 text-left">
      <%= @settings.title%> <%= @settings.firstname %> <%= @settings.lastname %><br/>
      <%= @settings.street %><br/>
      <%= @settings.zip %> <%= @settings.city %>
      <%= @settings.phonenumber %><br/>
      <%= @settings.email %><br/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-left" id="invoice_recipient">
      <%= @patient.firstname %> <%= @patient.lastname %><br/>
      <%= @patient.insurance %><br/>
      <%= @patient.street %><br/>
      <%= @patient.zip %> <%= @patient.city %>
    </div>
  </div>
  <div class="row" id="invoicenumber">
    <div class="col-md-5 text-left">
      <strong>Wahlarzt-Honorarnote: <%= @invoicenumber %></strong>
    </div>
    <div class="col-md-3 col-md-offset-2 text-right">
      Grafenwoerth, <%= Date.today %>
    </div>
  </div>

  <%= form_for(@invoice, url: patient_invoices_path(@patient)) do |f| %>
    <%= hidden_field_tag 'invoice[invoicenumber]', @invoicenumber %>
    <%= hidden_field_tag 'invoice[date]', Date.today %>

    <%= render 'shared/error_messages', object: f.object %>
    <div class="row" id="diagnosis">
      <div class="col-md-1 text-left">
	<strong><%= f.label 'Diagnosis' %></strong>
      </div>
      <div class="col-md-8">
	<%= f.text_field :diagnosis, class: 'form-control'%>
      </div>
    </div>

    <hr/>
    <div class="row col-md-offset-1">
      <%= f.fields_for :entry_lines do |entryline| %>
	<div class="entries">
	  <div class="row">
	    <div class="col-md-6">
	      <%= entryline.text_field :text, class: 'form-control' %>
	    </div>
	    <div class="col-md-2">
	      <%= entryline.text_field :fee, class: 'form-control' %>
	    </div>
	    <div class="col-md-2">
	      <%= link_to 'Add entry', '', class: 'btn btn-sm btn-success addentry'%>
	      <!-- <button type="button" class="btn btn-sm btn-success" id="addentry">Add Entry</button> -->
	    </div>
	  </div>
	</div>
      <% end %>

      <div class="row">
	<div class="col-md-8">
	  <hr/>
	</div>
      </div>
      <div class="row">
	<div class="col-md-6 text-right">
	  Sum
	</div>
	<div class="col-md-2">
	  <input type="sum" name="sum" placeholder="0.00" class="form-control text-right" id="sum"/>
	</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-2">
	<%= f.submit "Save", class: "btn btn-primary btn-block "%>
      </div>
      <div class="col-md-2">
	<%= f.submit "Save and Print", class: "btn btn-primary btn-block "%>
      </div>
      <div class="col-md-2">
	<%= f.submit "Cancel", class: "btn btn-primary btn-block "%>
      </div>
    </div>
  <% end %>
</div>
