<%= stylesheet_link_tag "invoice" %>
<%= stylesheet_link_tag "invoice_print", media: 'print' %>


<!-- <div class="container center">
     <%= render 'edit_header' %>
     <%= render 'input' %>
     </div> -->

<div class="invoice-page">
  <div class="invoice-header">
    <%= render 'header' %>
  </div>

  <div class="invoice-main">
    <%= render 'input' %>
  </div>
</div>
