<%= stylesheet_link_tag "print", media: 'all' %>


<% unless @print %>
      <%= render 'shared/the_flash' %>
  <h1>Show invoice</h1>
<% end %>


</div>

<div class="invoice-top">
  <%= render 'header' %>
</div>

<%= render 'display' %>

<div id="bottom">
  <%= render 'refund' %>

  <% unless @print %>
    <%= link_to 'Back', patient_invoices_path(@patient), class: 'btn btn-primary' %>
    <%= link_to 'Print', { controller: 'invoices', action: 'show', print: true }, class: 'btn btn-primary', target: '_blank', name: 'print-invoice' %>
  <% end %>
</div>

</div>
