<%= render 'shared/error_messages', object: f.object %>
<div class="form-group">
  <%= f.label 'Content' %>
  <%= f.text_area :content, class: 'form_control consultation_content', autofocus: true %>
</div>
<div class="form-group">
  <%= f.label 'Diagnosis' %>
  <%= f.text_field :diagnosis, class: 'form_control' %>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-4">
    <%= f.submit "Save consulation", class: "btn btn-primary btn-block"%>
  </div>
  <div class="col-md-2">
    <%= link_to "Back", patients_path, class: "btn btn-primary btn-block "%>
  </div>
</div>
