<div class="container">
  <div class="row">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
  </div>
  <div class="row">
    <aside class="col-md-2">
      <section class="patient_info">
	<div class="row">
	  <%= @patient.firstname %>
	  <%= @patient.lastname  %>
	</div>
	<div class="row">
	  <%= @patient.birthdate %> <%= @patient.ssn%>
	</div>
	<div class="row">
	  <%= @patient.zip %> <%= @patient.city%>
	</div>
	<div class="row">
	  <%= @patient.street %>
	</div>
	<div class="row">
	  <%= @patient.phonenumber1 %>
	</div>
	<div class="row">
	  <%= @patient.phonenumber2 %>
	</div>
	<div class="row">
	  <%= mail_to @patient.email %>
	</div>
      </section>
    </aside>
    <div class="col-md-8">
      <% if @consultations.empty? %>
	<h3>There are currently no consulations</h3>
      <% else %>
	<%= render @consultations %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <%= link_to 'Back', patients_path, class: 'btn btn-primary btn-block' %>
    </div>
  </div>
</div>
