<div class="row">
  <%= parent.firstname %> <%= parent.lastname %>
</div>
<div class="row">
  <%= parent.zip %> <%= parent.city %>, <%= parent.street %>
</div>
<div class="row">
  <%= parent.ssn %> <%= parent.birthdate %><br/>
</div>
<div class="row">
  <%= link_to 'Remove', relationship_path, class: 'btn btn-sm', method: :delete, data: { confirm: "Are you sure?" } %>
</div>
<hr/>
