<%= form_for(@patient) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row">
    <div class="col-md-4">
      <%= f.text_field :firstname, class: 'form-control', placeholder: 'Firstname', autofocus: true %>
    </div>
    <div class="col-md-6">
      <%= f.text_field :lastname, class: 'form-control', placeholder: 'Lastname' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= f.text_field :zip, class: 'form-control', placeholder: 'Zip code' %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :city, class: 'form-control', placeholder: 'City' %>
    </div>
    <div class="col-md-5">
      <%= f.text_field :street, class: 'form-control', placeholder: 'Street' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= date_field "patient", "birthdate", placeholder: 'DD/MM/YYYY', class: 'form-control' %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :ssn, class: 'form-control', placeholder: 'SSN' %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :insurance, class: 'form-control', placeholder: 'Insurance' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.text_field :phonenumber1, class: 'form-control', placeholder: 'Phonenumber 1' %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :phonenumber2, class: 'form-control', placeholder: 'Phonenumber 2' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.text_field :email, class: 'form-control', placeholder: 'Email address' %>
    </div>
  </div>

  <hr/>

  <% if @patient.new_record? %>
    <div class="row">
      <%= f.fields_for :mother  do |m| %>
	<div class="col-md-3">
	  <%= m.text_field :firstname, class: 'form-control', placeholder: 'Mother firstname' %>
	</div>
	<div class="col-md-3">
	  <%= m.text_field :lastname, class: 'form-control', placeholder: 'Mother Lastname' %>
	</div>
	<div class="col-md-2">
	  <%= m.text_field :ssn, class: 'form-control', placeholder: 'Mother SSN' %>
	</div>
	<div class="col-md-3">
	  <%= m.text_field :insurance, class: 'form-control', placeholder: 'Mother Insurance' %>
	</div>
      <% end %>
    </div>

    <div class="row">
      <%= f.fields_for :father  do |fa| %>
	<div class="col-md-3">
	  <%= fa.text_field :firstname, class: 'form-control', placeholder: 'Father firstname' %>
	</div>
	<div class="col-md-3">
	  <%= fa.text_field :lastname, class: 'form-control', placeholder: 'Father Lastname' %>
	</div>
	<div class="col-md-2">
	  <%= fa.text_field :ssn, class: 'form-control', placeholder: 'Father SSN' %>
	</div>
	<div class="col-md-3">
	  <%= fa.text_field :insurance, class: 'form-control', placeholder: 'Father Insurance' %>
	</div>
      <% end %>
    </div>

    <hr/>

    <div class="row">
      <div class="col-md-2 col-md-offset-2">
	<%= f.submit "Create patient", class: "btn btn-primary btn-block"%>
      </div>
      <div class="col-md-2">
	<%= link_to "Back", :back, class: "btn btn-primary btn-block "%>
      </div>
    <% else %>
      <div class="col-md-2 col-md-offset-2">
	<%= f.submit "Save", class: "btn btn-primary btn-block "%>
      </div>
      <div class="col-md-2">
	<%= link_to "Back", :back, class: "btn btn-primary btn-block "%>
      </div>
    </div>
    <% end %>

<% end %>
