<% unless @patient.nil? %>
  <% patient_id = @patient.id %>
<% else %>
  <% patient_id = @patient_id %>
<% end %>

patient_id: <%= patient_id %>
@patient_id <%= @patient_id %>





<tr class="parent-row">



  <td><%= parent.firstname %></td>
  <td><%= parent.lastname %></td>
  <td><%= parent.zip %> <%= parent.city %>, <%= parent.street %></td>
  <td><%= parent.ssn %> <%= parent.birthdate %></td>
</tr>
