<tr data-link="<%= parent_search_path(parent) %>">
  <td><%= parent.firstname %></td>
  <td><%= parent.lastname %></td>
  <td><%= parent.zip %> <%= parent.city %>, <%= parent.street %></td>
  <td><%= parent.ssn %> <%= parent.birthdate %></td>
</tr>
