<% content_for :head do %>
  <%= javascript_include_tag 'selectparent' %>
<% end %>

<%= render 'parent_search_modal' %>

<div class="container center">
  <aside class="col-md-2">
    <section class="parents_list">
      <h4>Parents</h4>
      <div id="parent-info">
	<%= render(collection: @patient.parents, partial: 'parent', as: 'parent') || "There are currently no parents assigned" %>
      </div>
      <hr/>
      <%= button_tag 'Add parent', class: "btn btn-sm", id: "add-parent" %>
    </section>
  </aside>
  <div class="col-md-8">
    <h1>Edit Patient</h1>
    <%= render 'shared/error_messages', object: @relationship if @relationship %>
    <%= render 'patient_input' %>
  </div>
</div>
